<main>
  <section class='about'>
    <div>
      <h1>About Me</h1>
      <div class='about-intro'>
        <p>"I grew up in Longmont, CO –  graduating from Niwot High School in May of 2018. At Niwot, I participated in athletic programs including Varsity Basketball and JV Baseball which ran concurrently with a part-time job as a lifeguard for the City of Longmont. To manage the three extracurriculars alongside a rigorous course load took discipline and focus, which aided me in the proceeding years & will for the rest of my life."</p>
        <p>"I was accepted into the College of Business at Colorado State University in November of 2017, and began attending classes the following fall! At CSU I went on a journey that I think helped shape and form the person I am, and the interests & goals that I have today. Through trials and tribulations, hardships and adversities, I battled all the way to the finish line; and the reward on the other side –  walking across the commencement stage felt oh so great, it was the feeling of something momentous."</p>
        </div>
      <aside>
        <h3>Core Skills</h3>
        <p>"I’m an up in coming digital marketer and junior software developer based in Fort Collins, CO. I have a passion for design, expressing myself through web, graphic, & application design. I have a strong determination for success and strive for perfection in everything I do settling for nothing less.  My friends say my biggest flaw is my stubbornness, I say it’s my biggest strength. I won’t stop until the task at hand is done. I have extremely high expectations for the work that I put out, often being more than was asked of. All while hitting deadlines for project deliveries on time."</p>
      </aside>
    </div>
  </section>
</main>