<main class='resume'>
  <section class='career-obj'>
    <h4>Career Objective</h4>
    <p>To obtain a challenging software engineering position where my expertise in designing, developing, and maintaining software applications can be utilized to drive innovation, optimize performance, and enhance the user experience. 
</p>
  </section>
  <section class='education'>
    <h4>Education</h2>
    <p>College of Business at Colorado State University | Fort Collins, CO<br>
Bachelor of Business Administration (BBA) - Marketing & CIS | 2022
</p>
  </section>
  <section class='experience'>
    <h4>Experience</h2>
    <h6><a href='https://prarmory.com/' target='_blank'>Platte River Armory LLC</a>
     | <span class='italic'>INTERNSHIP:</span> Website Developer | May - Nov 2022</h6>
    <p><span class='sm-font'>Created wireframe designs from client specifications. Turned UX mockups into responsive, interactive features on the site. Used Themify Ultra & WordPress and managed the SEO & tracking tag implementation.</span>
</p>
    <h6><a href='https://cncsweetsbakery.com/' target='_blank'>C & C Sweets Bakery</a>
     | <span class='italic'>INTERNSHIP:</span> Website Developer | Oct 2021 - Mar 2022</h6>
    <p><span class='sm-font'>Translated client specifications into responsive UX features. Utilized WordPress CMS, custom HTML & CSS to create a visual sensory experience where the consumer can see (and almost taste) the bakery products.</span>
</p>
    <h6><span class='underline'>ROOT’s Africa</span> | <span class='italic'>GOOGLE:</span> <a href='' target='_blank'>Nonprofit Immersion Program<a> | Jan 2021 - May 2021</h6>
    <p><span class='sm-font'>Managed Google Ads campaigns, keyword research, bid strategy & budget. Developed a donation page including pictures, video, and text, which raised over $18,000 USD for their Giving Tuesday Fundraising event in November 2022. </span>
</p>
    <h6><span class='underline'>Cold Stone Creamery</span> | <span class='italic'>INTERNSHIP:</span> Digital Advertising Intern | Mar 2020 - Present</h6>
    <p><span class='sm-font'>Planned and executed Digital Advertising through Facebook, Instagram, and Google Ads. Organized digital campaign promotions. Analyzed website traffic trends in Google Analytics.</span>
</p>
  </section>
  <section>
    <h4>Qualifications & Certifications</h2>
    <ul class='list-bullet'>
      <li><span class='italic underline'>Application Design:</span> Java, JS, Python, Ruby, VS Code, GIT, NodeJs, React Native
</li>
      <li><span class='italic underline'>Web Development:</span> MySQL, HTML5, CSS, JS, ASP.Net, Ruby on Rails, WordPress</li>
      <li><span class='italic underline'>Codecademy:</span> HTML, CSS, JavaScript, Python, Command Line, Ruby on Rails
</li>
      <li><span class='italic underline'>Digital Marketing:</span> Advanced Google Analytics Certification
</li>
    </ul>
  </section>
</main>