<main class='main'>
  <section class='intro'>
    <div class='heading'>
      <h1>Digital Marketer • Full-Stack Engineer</h1>
    </div>
    <div class='career-objective'>
     <p>Nick Hyatt is a creative digital marketer and junior software developer with a strong background in Digital Advertising, Application Development, and on-time Project Management.</p>
    </div>
    <aside>
      <a class='view-work' href='/portfolio'>View My Work</a>
      <a class='view-work' href='/resume'>View My Resume</a>
    </aside>
    <article class='years-experience'>
      <h6>Experience in coordinating all facets of digital programming, including:</h3>
      <ul>
        <li>Digital Advertising – 3.0 years</li>
        <li>Marketing Analytics – 3.0 years</li>
        <li>Web Development – 2.0 years</li>
        <li>Application Development – 1.0 years</li>
      </ul>
    </article>
    <article class='team-experience'>
      <h6>Proven success in leading multi-functional teams to accomplish project goals while achieving a high-degree of client satisfaction:</h6>
        <ul>
          <li>Cold Stone Creamery, Local Marketing Manager – Mar 2020 to Present</li>
          <li>C&C Sweets Bakery, Website & Conversion Tracking Overhaul – May 2021</li>
          <li>ROOT’s Africa, Non-Profit Marketing Immersion Program – Sep 2021</li>
          <li>SPIKED Alcoholic Coffee Bar, 3-Year Strategic Marketing Plan – Feb 2022</li>
          <li>EarthRoamer, Strategic Company Audit & Recommendation – May 2022</li>
          <li>ROOT’s Africa, Giving Season Fundraiser, $18,000 Raised – Nov 2022</li>
          <li>PR Armory LLC, Web Designer & Development Consultant – Nov 2022</li>
        </ul>
    </article>
  </section>
</main>