<footer>
  <div class='outer-footer'>
    <div class='inner-footer'>
       <ul class='footer-nav'>
          <a href="/"><li>Home</li></a>
          <a href="/about"><li>About</li></a>
          <a href="/portfolio"><li>Portfolio</li></a>
          <a href="/resume"><li>Resume</li></a>
          <a href="/contact"><li>Contact</li></a>
          <a href="tel:7203781880"><li>(720) 378 - 1880</li></a>
        </ul>
      <ul class='icons'>
        <a href='https://github.com/nhyatt28' target='_blank'>
          <li class='last-icon'>
            <img src='https://i.postimg.cc/RhV7kkZB/github.png'>
          </li>
        </a>
        <a href='https://www.linkedin.com/in/nick-hyatt-989060221/' target='_blank'>
          <li>
            <img src='https://i.postimg.cc/cHqZ5WTv/linkedin.png'>
          </li>
        </a>
        <a href='https://www.instagram.com/nickhyatttt/' target="_blank">
          <li>
            <img src='https://i.postimg.cc/CK1c8fg0/instagram.png'>
          </li>
        </a>
      </ul>
    </div>
  </div>
</footer>