<header>
    <div class="outer-header">
        <div class='inner-header'>
          <div class='logo-container'>
              <h1>Nick<span>Hyatt</span></h1>
          </div>
            <ul class='nav'>
              <a href="/"><li>Home</li></a>
              <a href="/about"><li>About</li></a>
              <a href="/portfolio"><li>Portfolio</li></a>
              <a href="/resume"><li>Resume</li></a>
              <a href="/contact"><li>Contact</li></a>
            </ul>
        </div>
    </div>
</header>