<header>
  <div class='contact-container'>
    <div class='contact-inner'>
      <ul class='contact-list'>
        <a href="mailto:nickhyatt99@gmail.com ?subject=Nick -- We want to hire you !  &body=You have exactly what we are looking for!">
          <li>nickhyatt99@gmail.com</li>
        </a>
        <a href="tel:7203781880"><li>(720) 378 - 1880</li></a>
      </ul>
    </div>

  </div>
    <div class="outer-header">
        <div class='inner-header'>
          <div class='logo-container'>
              <a href='/'><h1>Nick<span> Hyatt</span></h1></a>
          </div>
          <div class='mobile-wrapper'>
            <div class='mobile-nav-button'>
              <a onclick="burger()" href="#" class='burger-anchor'>
                <img src="https://i.postimg.cc/MTfrXF1x/icons8-xbox-menu-100.png" 
              class='burger-img'>
              </a>
            </div>
            <div id='burger-nav' class='mobile-menu'>
              <ul class='mobile-nav'>
                <a href="/"><li>Home</li></a>
                <a href="/about"><li>About</li></a>
                <a href="/portfolio"><li>Portfolio</li></a>
                <a href="/resume"><li>Resume</li></a>
                <a href="/contact"><li>Contact</li></a> 
                <li class='m-more'>More</li>
                <a href="/messages"><li>Community Chat</li></a>
                <a href="#"><li>Play Chess</li></a>
              </ul>
            </div>
          </div>
          <div id='desktop-nav''>
            <ul class='nav'>
              <a href="/"><li>Home</li></a>
              <a href="/about"><li>About</li></a>
              <a href="/portfolio"><li>Portfolio</li></a>
              <a href="/resume"><li>Resume</li></a>
              <a href="/contact"><li>Contact</li></a>
              <li>
                <div class='table-align'>
                  <div class='dropdown'>
                    <button onclick="myFunction()" class="dropbtn">More</button>
                    <img src="https://i.postimg.cc/kGfbY5df/icons8-down-25.png">
                    <div id="myDropdown" class='dropdown-content'>
                      <a href="/messages">Community Chat</a>
                      <a href="#">Play Chess</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
    </div>
</header>